[submodule "themes/material-design"]
	path = themes/material-design
	url = https://github.com/pdevty/material-design.git
[submodule "themes/--force"]
	path = themes/--force
	url = https://github.com/pdevty/material-design.git
[submodule "material-design"]
	path = material-design
	url = https://github.com/pdevty/material-design.git
